body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 2px solid green;
  border-radius: 8px;
  background-color: yellow;
  padding: 10px;
}

.nama-tim,
.lintasan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 20px;
  flex-wrap: wrap; /* Tambahkan ini untuk responsif */
}

.position-log {
  flex: 0.5;
}

.log-tittle,
.attitude-tittle {
  border: 2px solid green;
  border-radius: 8px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; /* Tambahkan ini untuk responsif */
  width: 50%;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  width: 320px;
  height: 240px;
}

.attitudes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 20px;
  flex-wrap: wrap; /* Tambahkan ini untuk responsif */
}

.attitudeinfo {
  flex: 0.5;
}

.attitude {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  width: 660px;
  height: 280px;
}

/* CSS tambahan untuk indikator langkah aktif */
.active-step {
  font-weight: bold;
  color: red;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .content,
  .attitudes {
    flex-direction: column;
    align-items: center;
  }

  .scores,
  .attitudes {
    gap: 10px;
  }

  .score,
  .attitude {
    width: 90%;
  }
}
