body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  border: white;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 2px solid green;
  border-radius: 8px;
  background-color: yellow;
  gap: 800px;
}

.nama-tim,
.lintasan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  gap: 410px;
}

.position-log,
.attitudeinfo,
.other-indicators {
  /* Remove grid-column: span 2; as it's not applicable */
}

.log-tittle,
.attitude-tittle {
  width: 450px;
  border: 2px solid green;
  border-radius: 8px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  width: 200px;
  height: 150px;
}

.attitudes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  gap: 408px;
}

.attitude {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  width: 455px;
  height: 260px;
}
